{% load static %}

<!--Scroll to top-->
<script src="{% static 'public/js/jquery.js' %}"></script>
<script src="{% static 'public/js/popper.min.js' %}"></script>
<script src="{% static 'public/js/jquery-ui.js' %}"></script>
<script src="{% static 'public/js/bootstrap.min.js' %}"></script>
<script src="{% static 'public/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'public/js/owl.js' %}"></script>
<script src="{% static 'public/js/wow.js' %}"></script>
<script src="{% static 'public/js/validate.js' %}"></script>
<script src="{% static 'public/js/appear.js' %}"></script>
<script src="{% static 'public/js/scrollbar.js' %}"></script>
<script src="{% static 'public/js/script.js' %}"></script>